version: 2
updates:
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: weekly
    day: wednesday
    timezone: Asia/Shanghai
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: org.bouncycastle:bcprov-jdk15on
    versions:
    - "> 1.65, < 2"
  - dependency-name: org.bouncycastle:bcprov-jdk15on
    versions:
    - "> 1.66, < 2"
  rebase-strategy: disabled
