package org.nervos.ckb;

import org.junit.Assert;
import org.junit.Before;
import org.junit.Test;
import org.nervos.ckb.methods.type.*;
import org.nervos.ckb.service.CKBService;
import org.nervos.ckb.service.HttpService;

import java.io.IOException;
import java.math.BigInteger;
import java.util.Collections;
import java.util.List;

/**
 * Created by duanyytop on 2018-12-25.
 * Copyright © 2018 Nervos Foundation. All rights reserved.
 */
public class APITest {

    private static final String NODE_URL = "http://localhost:8114/";

    private CKBService ckbService;

    @Before
    public void initService() {
        HttpService.setDebug(false);
        ckbService = CKBService.build(new HttpService(NODE_URL));
    }

    private Block getBlockByNumber(long number) throws IOException {
        String blockHash = ckbService.getBlockHash(number).send().getBlockHash();
        return ckbService.getBlock(blockHash).send().getBlock();
    }

    @Test
    public void testBlockAndTransaction() throws IOException {
        Block block = getBlockByNumber(0);
        Assert.assertNotNull("Block is null", block);
        Assert.assertNotNull("Block header is null", block.header);

    }

    @Test
    public void testTransaction() throws IOException {
        long blockNumber = 0;
        String transactionHash = getBlockByNumber(blockNumber).commitTransactions.get(0).hash;
        Transaction transaction = ckbService.getTransaction(transactionHash).send().getTransaction();
        Assert.assertNotNull("Transaction is null", transaction);
    }

    @Test
    public void testGetTipHeader() throws IOException {
        Header header = ckbService.getTipHeader().send().getHeader();
        Assert.assertNotNull("Tip header is null", header);
    }

    @Test
    public void testGetTipBlockNumber() throws IOException {
        BigInteger blockNumber = ckbService.getTipBlockNumber().send().getBlockNumber();
        Assert.assertNotNull("Block number is null", blockNumber.toString());
    }

    @Test
    public void localNodeInfo() throws IOException {
        String nodeId = ckbService.localNodeInfo().send().getNodeId();
        Assert.assertNotNull("Node id is null", nodeId);
    }

    @Test
    public void testGetCellsByTypeHash() throws IOException {
        List<Cell> cellOutputWithOutPoints = ckbService.getCellsByTypeHash(
                "0x0da2fe99fe549e082d4ed483c2e968a89ea8d11aabf5d79e5cbf06522de6e674", 1, 100
        ).send().getCells();
        Assert.assertTrue("Cells is null", cellOutputWithOutPoints.size() > 0);
    }

    @Test
    public void testGetCurrentCell() throws IOException {
        Cell cellOutputWithOutPoint = ckbService.getLiveCell(
                new Cell.OutPoint("0x10262d4d6918774ae939a55b88f1b2c847f75489e36cd58cca03bad5c216db4f", 0)
        ).send().getCell();
        Assert.assertNotNull("Cell is null", cellOutputWithOutPoint);
    }

    @Test
    public void testSendTransaction() throws IOException {
        String transactionHash = ckbService.sendTransaction(
               new Transaction(0, Collections.emptyList(), Collections.emptyList(), Collections.emptyList())
        ).send().getTransactionHash();
        Assert.assertNotNull("Transaction hash is null", transactionHash);
    }


}
