name: Continuous integration

on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
#  lint_pr_title:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Lint PR title
#        uses: seferov/pr-lint-action@master
#        with:
#          title-regex: "^(build|chore|ci|docs|feat|fix|perf|refactor|test)(\\(.+\\))?(\\!)?:\\s.+"
  add_pr_label:
    runs-on: ubuntu-latest
    steps:
      - name: add PR label based on branch name
        uses: TimonVS/pr-labeler-action@v3
        with:
          configuration-path: .github/pr-labeler.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: |
          ./gradlew compileJava
